## **Data Preprocessing**
- Remove unnecessary properties.
- File artists.csv (id, name, artist_popularity, followers, genre_0 -> genre)
- File track.csv (track_id, track_popularity)
- File albums.csv (track_name, track_id, duration_ms, album_name, release_date, label, album_popularity, album_id, artist_id, duration_sec)

### **Preliminaries: Setting environment, Installing libraries and downloading data**
Setting evironment:
- Set up a virtual environment for Python: 
   - Run command in terminal: *"python -m venv env"*
- Activate the env folder:
   - Run command in terminal: *".\env\Scripts\activate"*

- **NOTE:** To deactivate env folder:
   - Run command in terminal: *"deactivate"*

Install the required libraries
- All libraries for this project in requirements.txt file.
  - Run command in terminal: *"pip install -r .\requirements.txt"*

Downloading data
- I use dataset on Kaggel.com: [Spotify Dataset 2023](https://www.kaggle.com/datasets/tonygordonjr/spotify-dataset-2023/data)
- Data folder contains 2 subfolder (data/raw and data/processed)

### **Importing libraries**
Importing the required libraries

In [14]:
import pandas as pd
import os
# Suppress generated warnings
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [3]:
path_data_raw = "./data/raw/"
for dirname, _, filenames in os.walk(path_data_raw):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./data/raw/spotify-albums_data_2023.csv
./data/raw/spotify_artist_data_2023.csv
./data/raw/spotify_data_12_20_2023.csv
./data/raw/spotify_features_data_2023.csv
./data/raw/spotify_tracks_data_2023.csv

#### Artists Dataset
Get data

In [ ]:
url_artists_raw = "./data/raw/spotify_artist_data_2023.csv"
artistsDf = pd.read_csv(url_artists_raw)
artistsDf.head(5)

,id,name,artist_popularity,artist_genres,followers,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6
0,6GkSLJj5CGLIckLIb8J4LR,Late Night Fights,0,['minneapolis punk'],184,minneapolis punk,NaN,NaN,NaN,NaN,NaN,NaN
1,1N0VwQy5PRJymrRvlRzDIj,Sub Par All Star,0,['antiviral pop'],491,antiviral pop,NaN,NaN,NaN,NaN,NaN,NaN
2,4Ch4BIKKwMJsiu1oVLDwpX,Nirvana Meditation 8D,0,['8d'],56,8d,NaN,NaN,NaN,NaN,NaN,NaN
3,5h2iINTOvhghVcpIzrztPP,Red Hot Rebellion,0,['action rock'],394,action rock,NaN,NaN,NaN,NaN,NaN,NaN
4,7dE2MLL2SaI6MujpU5HFVi,Nirvana Tribute Band,0,['tribute'],230,tribute,NaN,NaN,NaN,NaN,NaN,NaN

Get necessary column (id, name, artist_popularity, followers, genre_0 -> genre)

In [9]:
artistsDf = artistsDf[['id', 'name', 'artist_popularity', 'followers', 'genre_0']]
artistsDf.head(5)

,id,name,artist_popularity,followers,genre_0
0,6GkSLJj5CGLIckLIb8J4LR,Late Night Fights,0,184,minneapolis punk
1,1N0VwQy5PRJymrRvlRzDIj,Sub Par All Star,0,491,antiviral pop
2,4Ch4BIKKwMJsiu1oVLDwpX,Nirvana Meditation 8D,0,56,8d
3,5h2iINTOvhghVcpIzrztPP,Red Hot Rebellion,0,394,action rock
4,7dE2MLL2SaI6MujpU5HFVi,Nirvana Tribute Band,0,230,tribute

Information about dataset

In [11]:
print("Number of rows and columns are: ", artistsDf.shape)
print()
print("Information about dataframe: ")
print(artistsDf.info())
print("Number of unique atribute: ")
print(artistsDf.nunique())
print("Number of duplicate rows:" ,artistsDf.duplicated().sum())
print()
print("Number of missing values:" )
print(artistsDf.isnull().sum())

Number of rows and columns are:  (37012, 5)

Information about dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37012 entries, 0 to 37011
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 37012 non-null  object
 1   name               37012 non-null  object
 2   artist_popularity  37012 non-null  int64
 3   followers          37012 non-null  int64
 4   genre_0            10947 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.4+ MB
None
Number of unique atribute:
id                   37012
name                 36196
artist_popularity       94
followers            12117
genre_0               3137
dtype: int64
Number of duplicate rows: 0

Number of missing values:
id                       0
name                     0
artist_popularity        0
followers                0
genre_0              26065
dtype: int64

Transform of data

In [ ]:
# Fill null value in genre_0 column
artistsDf['genre_0'] = artistsDf['genre_0'].fillna(value='N/A')

# Remame column
artistsDf.rename(columns={'gerne_0':'gerne'}, inplace = True)

In [23]:
artistsDf.head()

,id,name,artist_popularity,followers,gerne
0,6GkSLJj5CGLIckLIb8J4LR,Late Night Fights,0,184,minneapolis punk
1,1N0VwQy5PRJymrRvlRzDIj,Sub Par All Star,0,491,antiviral pop
2,4Ch4BIKKwMJsiu1oVLDwpX,Nirvana Meditation 8D,0,56,8d
3,5h2iINTOvhghVcpIzrztPP,Red Hot Rebellion,0,394,action rock
4,7dE2MLL2SaI6MujpU5HFVi,Nirvana Tribute Band,0,230,tribute

Store data into csv file

In [ ]:
output_path = "./data/processed/"
artistsDf_output_path = output_path + "artists.csv"

artistsDf.to_csv(artistsDf_output_path, index=False)

#### Track Dataset
Get data

In [27]:
url_track_raw = "./data/raw/spotify_tracks_data_2023.csv"
trackDf = pd.read_csv(url_track_raw)
trackDf.head(5)

                       id  track_popularity  explicit
0  02MBhqgR7WeeI4ZfB6Lo0i                 0     False
1  5j4M4gLYuUy9PVw0vsXWyq                 0     False
2  46EucLPJpx0QM3SCjzzdP0                 0     False
3  4nK2LvW3osgDT89S38Mcg6                 0     False
4  1Pq37WIQZDG7yNFnY5IbqG                 0     False

Get necessary columns (track_id, track_popularity)

In [ ]:
trackDf = trackDf[['id', 'track_popularity']]
trackDf.head()

                       id  track_popularity
0  02MBhqgR7WeeI4ZfB6Lo0i                 0
1  5j4M4gLYuUy9PVw0vsXWyq                 0
2  46EucLPJpx0QM3SCjzzdP0                 0
3  4nK2LvW3osgDT89S38Mcg6                 0
4  1Pq37WIQZDG7yNFnY5IbqG                 0

Information dataset

In [29]:
print("Number of rows and columns are: ", trackDf.shape)
print()
print("Information about dataframe: ")
print(trackDf.info())
print("Number of unique atribute: ")
print(trackDf.nunique())
print("Number of duplicate rows:" ,trackDf.duplicated().sum())
print()
print("Number of missing values:" )
print(trackDf.isnull().sum())

Number of rows and columns are:  (438938, 2)

Information about dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438938 entries, 0 to 438937
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                438938 non-null  object
 1   track_popularity  438938 non-null  int64
dtypes: int64(1), object(1)
memory usage: 6.7+ MB
None
Number of unique atribute:
id                  438938
track_popularity       100
dtype: int64
Number of duplicate rows: 0

Number of missing values:
id                  0
track_popularity    0
dtype: int64

Transform of data

In [31]:
# Remame column
trackDf.rename(columns={'id':'track_id'}, inplace = True)

In [32]:
trackDf.head()

                 track_id  track_popularity
0  02MBhqgR7WeeI4ZfB6Lo0i                 0
1  5j4M4gLYuUy9PVw0vsXWyq                 0
2  46EucLPJpx0QM3SCjzzdP0                 0
3  4nK2LvW3osgDT89S38Mcg6                 0
4  1Pq37WIQZDG7yNFnY5IbqG                 0

Storage data to csv file

In [ ]:
output_path = "./data/processed/"
trackDf_output_path = output_path + "track.csv"

trackDf.to_csv(trackDf_output_path, index=False)

#### Albums Dataset
Get data

In [34]:
url_albums_raw = "./data/raw/spotify-albums_data_2023.csv"
albumsDf = pd.read_csv(url_albums_raw)
albumsDf.head()

,track_name,track_id,track_number,duration_ms,album_type,artists,total_tracks,album_name,release_date,label,...,artist_3,artist_4,artist_5,artist_6,artist_7,artist_8,artist_9,artist_10,artist_11,duration_sec
0,Amazing Grace,6mN8nzCXWUeT5LWEcG1Utx,5,555521,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.521
1,Silent Night,58sgjtx3FOnBBEOd3BQE6C,8,535041,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535.041
2,Ancient Canyons,45tQJhm0WSk5VWMZK3FsLK,1,545855,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.855
3,Pacha Mama Medicina,3VFD7QqkJSg0OR6yBwKl7A,6,305241,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.241
4,Palace Of Light,7LwJV5BEIC9BQnzvaBSyCc,7,351060,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,351.060

Get necessary columns (track_name, track_id, duration_ms, album_name, release_date, label, album_popularity, album_id, artist_id, duration_sec)

In [36]:
albumsDf = albumsDf[['track_name', 'track_id', 'duration_ms', 'album_name', 'release_date', 'label', 'album_popularity', 'album_id', 'artist_id', 'duration_sec']]
albumsDf.head()

,track_name,track_id,duration_ms,album_name,release_date,label,album_popularity,album_id,artist_id,duration_sec
0,Amazing Grace,6mN8nzCXWUeT5LWEcG1Utx,555521,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,555.521
1,Silent Night,58sgjtx3FOnBBEOd3BQE6C,535041,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,535.041
2,Ancient Canyons,45tQJhm0WSk5VWMZK3FsLK,545855,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,545.855
3,Pacha Mama Medicina,3VFD7QqkJSg0OR6yBwKl7A,305241,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,305.241
4,Palace Of Light,7LwJV5BEIC9BQnzvaBSyCc,351060,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,351.060

Information dataset

In [37]:
print("Number of rows and columns are: ", albumsDf.shape)
print()
print("Information about dataframe: ")
print(albumsDf.info())
print("Number of unique atribute: ")
print(albumsDf.nunique())
print("Number of duplicate rows:" ,albumsDf.duplicated().sum())
print()
print("Number of missing values:" )
print(albumsDf.isnull().sum())

Number of rows and columns are:  (438973, 10)

Information about dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438973 entries, 0 to 438972
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   track_name        438968 non-null  object
 1   track_id          438973 non-null  object
 2   duration_ms       438973 non-null  int64
 3   album_name        438972 non-null  object
 4   release_date      438950 non-null  object
 5   label             438921 non-null  object
 6   album_popularity  438973 non-null  int64
 7   album_id          438973 non-null  object
 8   artist_id         438973 non-null  object
 9   duration_sec      438973 non-null  float64
dtypes: float64(1), int64(2), object(7)
memory usage: 33.5+ MB
None
Number of unique atribute:
track_name          301279
track_id            438948
duration_ms         148238
album_name           63485
release_date          7731
label                34933
album_popularity        99
album_id             78172
artist_id            37012
duration_sec        148238
dtype: int64
Number of duplicate rows: 0

Number of missing values:
track_name           5
track_id             0
duration_ms          0
album_name           1
release_date        23
label               52
album_popularity     0
album_id             0
artist_id            0
duration_sec         0
dtype: int64

Storage data to csv file

In [ ]:
output_path = "./data/processed/"
albumsDf_output_path = output_path + "albums.csv"

albumsDf.to_csv(albumsDf_output_path, index=False)